body{
    background: linear-gradient(white,black);
}
.ui.container{
    width: 500px;
    height: 500px;
}

.ui.horizontal.menu{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgba(149, 147, 147, 0.637);

}

.ui.cards{
        display: flex;
        align-items: center;
        justify-content: center;
    }
  

.name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    text-decoration: underline;
    margin: 34px 50px;
}


.tagline{
    color: white;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 34px 50px;
    
}

.ui.right.aligned.menu{
    background-color:rgba(149, 147, 147, 0.637);

}

.ui.button{
    
    margin: 23px;
}